.section-title {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 60%;
	line-height: 1.15em;
	font-size: 60px;
	font-weight: 600;

}

@media screen and (max-width: 597px) {
    .section-title {
        font-size: 45px;
		line-height: 1.2em;
		width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .section-title {
        font-size: 30px;
    }
}