.table {
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
}

@media screen and (max-width:1200px){
	.table {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
	}
}

@media screen and (max-width:860px){
	.table {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}

@media screen and (max-width:480px){
	.table {
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
}