.khan__quote-author {
	margin: 36px 0 0;
	padding: 0;
	line-height: 1.15em;
	font-size: 24px;
	font-weight: 600;
}

@media screen and (max-width:700px){
	.khan__quote-author  {
		margin-top: 20px;
		font-size: 18px;
		line-height: 125%;
	}
}